.item {
  width: 800px;
  color: #353935;
  font-size: 20px;
  margin: 0 auto;
  background-color: white;
  transition: all 0.3s;
  user-select: none;
}

.itemName {
  font-weight: bold;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  border: 1px solid #f4f4f4;
}

.deleteButton {
  padding: 8px 16px;
  border: none;
  border-radius: 8px;
  background-color: #f7ca18;
  color: white;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}
